html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.raindrop {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 90px;
    background: rgba(255, 255, 255, 0.6);
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

